<div class="box">
  <div class="centered">

    <table class="chess-board">
      <tbody>
      <tr>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
      </tr>
      <tr>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
      </tr>
      <tr>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
      </tr>
      <tr>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
      </tr>
      <tr>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
      </tr>
      <tr>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
      </tr>
      <tr>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
      </tr>
      <tr>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
        <app-black></app-black>
        <app-white></app-white>
      </tr>

      </tbody>
    </table>

  </div>
</div>
